@media only screen and (max-width: 992px){
  article{
    position: relative;
    top:3vw;
  }

  h1{
    position:relative;
    display:flex;
    margin:5vw 0 10vw 6vw;
    font-size:6vw;
  }

  h2{
    position:relative;
    display:flex;
    margin:2vh 0 3vh 14vw;
    font-size:8vw;
  }

  #changing-text2{
    margin-left:5vw;
    text-decoration: underline;
    text-underline-offset: 25px;
    font-weight: 600;
    white-space: nowrap;
  }
}

@media only screen and (min-width:992px){
  article{
    position: relative;
    top:50px;
  }

  h1{
    position:relative;
    display:flex;
    margin:100px 10vw 20px 20vw;
    font-size:80px;
  }

  h2{
    position:relative;
    display:flex;
    margin:10px 10vw 20px 25vw;
    font-size:100px;
    white-space:nowrap;
  }

  #changing-text2{
    margin-left:5vw;
    text-decoration: underline;
    text-underline-offset: 40px;
    font-weight: 600;
  }
}