@media only screen and (max-width: 700px){
  article{
    position: relative;
    top:3vw;
  }

  h1{
    position:relative;
    display:flex;
    margin: 50vw 0 3vw 10vw;
    font-size:6vw;
  }

  h2{
    position:relative;
    display:flex;
    margin:1vh 0 50vh 14vw;
    font-size:7vw;
  }

  #changing-text2{
    margin-left:5vw;
    text-decoration: underline;
    text-underline-offset: 25px;
    font-weight: 600;
    white-space: nowrap;
  }
}

@media only screen and (min-width:700px){
  article{
    position: relative;
    top:3vw;
  }

  h1{
    position:relative;
    display:flex;
    margin:5vw 10vw 20px 20vw;
    font-size:5vw;
  }

  h2{
    position:relative;
    display:flex;
    margin:3vw 10vw 5vw 25vw;
    font-size:6vw;
    white-space:nowrap;
  }

  #changing-text2{
    margin-left:5vw;
    text-decoration: underline;
    text-underline-offset: 40px;
    font-weight: 600;
  }
}